@use 'abstracts' as *;

._checkbox {
	> input[type='checkbox'] {
		cursor: pointer;
		position: relative;
		width: rem(24); // <-----
		height: rem(24);
		aspect-ratio: 1/1;
		border: rem(1.5) solid $c-accent; // <-----
		transition: all $td $tf;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 0.9rem;
			height: rem(2);
			opacity: 0;
			transition: all calc($td / 2) $tf;
			pointer-events: none;
			will-change: rotate, top, left;
		}
		@media (pointer: fine) {
			&:hover {
				&::before,
				&::after {
					background-color: $c-accent; // <-----
					opacity: 1;
				}
				&::before {
					rotate: 90deg;
				}
			}
		}
	}
	> input[type='checkbox']:checked {
		background-color: $c-accent; // <-----
		&::before,
		&::after {
			background-color: $c-EC1C24; // <-----
			opacity: 1;
		}
		&::before {
			left: 60%;
			width: 0.75rem;
			rotate: 135deg;
		}
		&::after {
			left: 30%;
			top: 60%;
			width: 0.5rem;
			rotate: -135deg;
		}
		// @media (pointer: fine) {
		// 	&:hover {
		// 		&::before,
		// 		&::after {
		// 			position: absolute;
		// 			top: 50%;
		// 			left: 50%;
		// 			translate: -50% -50%;
		// 			width: 0.9rem;
		// 		}
		// 		&::before{
		// 			rotate: 45deg;
		// 		}
		// 		&::after{
					
		// 			rotate: -45deg;
		// 		}
		// 	}
		// }
	}

	// $p: &;

	// &-input {
	// 	position: relative;
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;

	// 	#{$p}--toggler & {
	// 		justify-content: flex-start;
	// 	}

	// 	&::before {
	// 		content: '';
	// 		position: relative;
	// 		display: inline-block;
	// 		flex: 0 0 100%;
	// 		cursor: pointer;
	// 	}

	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		display: inline-block;
	// 		opacity: 0;
	// 		transition: all $td $tf 0s;
	// 		pointer-events: none;

	// 		@at-root #{$p}-input:checked:after {
	// 			opacity: 1;
	// 		}

	// 		@at-root #{$p}--toggler #{$p}-input:after {
	// 			left: 0;
	// 			opacity: 1;
	// 		}

	// 		@at-root #{$p}--toggler #{$p}-input:checked:after {
	// 			left: 50%;
	// 		}
	// 	}
	// }

	& label {
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	}
}
