@use 'abstracts' as *;

.inputbox {
	height: fit-content;
	position: relative;
	display: flex;
	flex-direction: column;
	border-bottom: rem(1.5) solid rgba($c-FAFAFA, 0.5); // <----- 
	transition: all $td $tf;
	@media (pointer: fine) {
		&:hover,
		&:has(input:focus),
		&:has(textarea:focus) {
			border-color: $c-FAFAFA; // <----- 
			label {
				color: $c-FAFAFA;
			}
		}
	}
	&:has(input:focus) label,
	&:has(textarea:focus) label,
	&:has(input:not(:placeholder-shown)) label,
	&:has(textarea:not(:placeholder-shown)) label {
		translate: 0 rem(8);
		font-size: rem(12); // <-----
	}
	label {
		position: absolute;
		left: 0;
		top: 0;
		translate: 0 rem(24);
		text-transform: uppercase;
		color: rgba($c-FAFAFA, 0.5); // <-----
		font-size: lineScale(18, 18, 480, 1440); // <-----
		font-weight: $fw-m;
		pointer-events: none;
		transition: all $td $tf;
	}
	input,
	textarea {
		width: 100%;
		color: $c-accent;
		font-size: rem(20);
		padding: 1.8rem 0 0.5rem 0;
		background-color: transparent;
		transition: $td;
		&::placeholder {
			color: inherit;
			opacity: 0;
			transition: all $td $tf;
		}
		&:focus {
			outline: none;
			&::placeholder {
				opacity: 0.8;
			}
		}
	}
	textarea {
		height: rem(64);
		min-height: rem(64);
		max-height: rem(128);
		resize: vertical;
	}
}
