@use 'abstracts' as *;

.js_range {
	&-text {
		flex: 0 0 var(--maxval-width);
		white-space: nowrap;
		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
	}

	&-val {}

	&-input {
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: var(--cur-perc);
			height: 100%;
			z-index: 1;
		}
	}
}