@use 'abstracts' as *;

.text-content {
	display: flex;
	flex-direction: column;
	gap: rem(64) 0;

	&:not(:has(div)) {
		gap: rem(16) 0;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: rem(16) 0;
	}

	h2 {
		font-size: lineScale(40, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-m;
		margin-bottom: rem(16);
	}

	p {
		font-size: rem(18);
		line-height: 120%;
	}

	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: rem(8) 0;
		padding-left: rem(32);

		li {
			list-style-type: disc;
			list-style-position: outside;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	div:has(> table) {
		width: 100%;
		overflow-x: auto;
	}

	picture {
		position: relative;
		width: 100%;
		height: rem(380);
		overflow: hidden;
		margin-top: rem(64);
		img {
			position: absolute;
			inset: 0;
		}
	}

	table {
		min-width: rem(660);
		border-collapse: separate;
		border-spacing: 0;
		color: $c-EC1C24;
		margin: rem(32) 0;
		tr {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			th {
				font-size: lineScale(40, 32, 480, 1440);
				line-height: 1;
				text-align: left;
				white-space: nowrap;
			}

			th,
			td {
				padding: rem(8) rem(16);
			}
		}

		tr:first-child th:first-child {
			border-top-left-radius: rem(12);
		}

		tr:first-child th:last-child {
			border-top-right-radius: rem(12);
		}

		tr:last-child td:first-child {
			border-bottom-left-radius: rem(12);
		}

		tr:last-child td:last-child {
			border-bottom-right-radius: rem(12);
		}

		tr:first-child th {
			border-top-style: solid;
		}

		tr th:first-child,
		tr td:first-child {
			border-left-style: solid;
		}
	}
}
@media (max-width: 540px) {
	.text-content {
		picture {
			overflow: visible;
			img {
				left: 50%;
				translate: -50% 0;
				width: calc(100% + rem(32));
			}
		}
		table {
			cursor: grab;
		}
	}
}
