@use 'abstracts' as *;

:root {
	--shapes-color: #{$c-EC1C24};
}

.content__block:has(.main-hero) {
	padding: 0;
	padding-bottom: rem(32);
	height: calc(100lvh - var(--headerHeight));
	min-height: fit-content;
	.content__container {
		height: 100%;
		min-height: fit-content;
	}
}
.main-hero {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	&__anim-arrow {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: rem(32);
		height: rem(52);
		overflow: hidden;
		&::before,
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: rem(1.5);
			background-color: $c-CDCDCD;
			transform-origin: right;
			will-change: transform;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(135deg);
		}
		> span {
			position: absolute;
			top: 0;
			left: 50%;
			translate: -50% 0;
			height: 100%;
			width: rem(1.5);
			background-color: $c-CDCDCD;
		}
		&-blur {
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 50%;
			translate: -50% 0;
			width: 100%;
			height: 60%;
			background-color: $c-accent;
			animation: blur 3s ease infinite;
		}
		@keyframes blur {
			0% {
				width: 100%;
				height: 100%;
			}
			50% {
				width: 0;
				height: 0;
			}
			75% {
				width: 0;
				height: 0;
			}
			100% {
				width: 0;
				height: 0;
			}
		}
	}
	&__cover {
		position: relative;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		background: url('../img/service/paper.png');
		background-size: cover;
		background-repeat: no-repeat;
		user-select: none;
		> canvas {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
		}
		&-titlebox {
			grid-row: 2;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: flex-end;
			background-color: rgba($c-A9A49F, 0.15);
			backdrop-filter: blur(7px);
			padding: rem(48);
			pointer-events: none;
		}
		&-title {
			text-transform: uppercase;
			font-size: lineScale(18, 16, 480, 1440);
			line-height: 120%;
			font-weight: $fw-b;
		}
	}
	&__body {
		display: grid;
		grid-template-rows: 1fr auto 1fr;
		padding: rem(16) rem(64);
	}
	&__titlebox {
		grid-row: 2;
	}
	&__socials {
		grid-row: 3;
		align-self: flex-end;
		display: flex;
		align-items: center;
		gap: rem(16);
		margin-top: rem(48);
		&-item {
			color: $c-CDCDCD;
		}
	}
	&__title {
		@include h1();
	}
	&__desc {
		font-size: rem(18);
		line-height: 150%;
		color: $c-323232;
		text-wrap: balance;
		margin-top: rem(24);
	}
	&__button {
		margin-top: rem(64);
		@include button($icon-rotate: -45deg);
	}
}
.main-about {
	&__titlebox {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		@include h2();
	}
	&__list {
		margin-top: rem(64);
		overflow-x: auto;
		&.dragging {
			cursor: grabbing;
		}
		&-wrapper {
			counter-reset: item;
			min-width: fit-content;
			display: flex;
			justify-content: space-between;
			gap: rem(32);
		}
	}
	&__item {
		counter-increment: item;
		position: relative;
		z-index: 0;
		flex: 1 0 rem(320);
		min-height: rem(532);
		overflow: hidden;
		user-select: none;
		border-top: rem(2) solid $c-EC1C24;
		&:first-child {
			&::before {
				translate: rem(-20) rem(40);
			}
		}
		&::before {
			content: counter(item);
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			font-size: rem(256);
			line-height: 1;
			font-weight: $fw-m;
			color: $c-accent;
			-webkit-text-stroke: rem(2) $c-EC1C24;
			text-stroke: rem(2) $c-EC1C24;
			translate: rem(-56) rem(40);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: rem(2);
			height: 100%;
			background-color: $c-EC1C24;
		}
		&-wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: rem(16);
			padding: rem(24) 0 0 rem(32);
		}
		&-title {
			font-size: lineScale(25, 22, 480, 1440);
			line-height: 1;
			font-weight: $fw-m;
		}
		&-desc {
			color: $c-323232;
			line-height: 120%;
			opacity: 0.8;
		}
		&-link {
			display: flex;
			align-items: center;
			font-size: rem(18);
			line-height: 120%;
			color: $c-323232;
			@include hover-underline();
			@include icon-hover();
			@media (pointer: fine) {
				&:hover {
					color: $c-EC1C24;
				}
			}
		}
	}
}
.main-services {
	&__titlebox {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		text-wrap: balance;
		@include h2();
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(64);
		margin-top: rem(64);
	}
	&__sider-container {
		position: relative;
		height: 100%;
	}
	&__sider {
		position: sticky;
		top: calc(var(--headerHeight) + rem(32));
		display: flex;
		flex-direction: column;
		gap: rem(32);
		color: $c-accent;
		background-color: $c-EC1C24;
		padding: rem(64);
		> span:has(svg) {
			position: absolute;
			top: 0;
			right: 0;
			rotate: -45deg;
			@include icon-hover();
		}
		&-titlebox {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: rem(8);
		}
		&-title {
			font-size: rem(15);
			line-height: 1;
			font-weight: $fw-m;
		}
		&-price {
			font-size: rem(22);
			line-height: 1;
			font-weight: $fw-m;
			> span {
				font-size: lineScale(40, 32, 480, 1440);
				line-height: 1;
			}
		}
		&-desc {
			font-size: lineScale(18, 16, 480, 1440);
			line-height: 120%;
			opacity: 0.9;
		}
		&-button {
			@include button($hover-color: $c-EC1C24, $anim-color: $c-accent);
			> span:has(svg) {
				rotate: -45deg;
			}
		}
	}
	&__list {
		counter-reset: item;
		display: flex;
		flex-direction: column;
	}
	&__item {
		counter-increment: item;
		display: grid;
		grid-template-columns: auto minmax(max-content, 20%);
		gap: rem(32);
		border-top: rem(2) solid $c-EC1C24;
		&:last-child {
			border-bottom: rem(2) solid $c-EC1C24;
		}
		&::after {
			content: counter(item);
			font-size: rem(256);
			line-height: 1;
			font-weight: $fw-m;
			justify-self: flex-end;
			color: rgba($c-A9A49F, 0.15);
			transition: color $td $tf;
		}
		@media (pointer: fine) {
			&:hover {
				&::after {
					color: $c-EC1C24;
				}
			}
		}
		&.open {
			&::after {
				color: $c-EC1C24;
			}
			.main-services__item-content {
				gap: rem(48);
			}
			.main-services__item-desc {
				max-height: calc(var(--max-height) + 2em);
			}
			.main-services__item-button {
				&::after {
					rotate: -180deg;
				}
			}
		}
		// &:not(.open) {                        // <----- Добавляет "дерганье" при закрытии спойлера
		// 	.main-services__item-desc {
		// 		@include lineClamp(2);
		// 	}
		// }
		&-content {
			display: flex;
			flex-direction: column;
			gap: rem(24);
			padding: rem(40) 0;
			transition: gap $td $tf;
		}
		&-title {
			font-size: rem(25);
			line-height: 1;
			font-weight: $fw-m;
		}
		&-desc {
			color: $c-323232;
			opacity: 0.5;
			min-height: 2em;
			overflow: hidden;
			transition-timing-function: linear;
		}
		&-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: rem(8);
			transition: all $td $tf;
			&::after {
				content: '';
				display: block;
				width: rem(10);
				height: rem(6);
				background-color: $c-main;
				clip-path: polygon(50% 100%, 0 0, 100% 0);
				transition: all $td $tf;
			}
			@media (pointer: fine) {
				&:hover {
					color: $c-EC1C24;
					&::after {
						background-color: $c-EC1C24;
					}
				}
			}
		}
	}
}
.main-promo {
	&__titlebox {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		@include h2();
	}
	&__subtitle {
		@include block-subtitle();
	}
	&__slider {
		counter-reset: item;
		margin-top: rem(64);
	}
	&__slide {
		counter-increment: item;
		width: 90%;
		display: flex;
		background-color: $c-DED5C2;
		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: rem(64);
			padding: rem(64);
		}
		&-image-container {
			max-height: rem(532);
			width: rem(532);
			aspect-ratio: 1/1;
		}
		&-titlebox {
			display: flex;
			flex-direction: column;
			gap: rem(16);
			&::before {
				content: '0' counter(item);
				font-size: rem(15);
				font-weight: $fw-m;
				color: $c-323232;
				opacity: 0.25;
			}
		}
		&-title {
			font-size: lineScale(40, 32, 480, 1440);
			line-height: 1;
			font-weight: $fw-m;
		}
		&-desc {
			text-wrap: balance;
		}
		&-button {
			@include button($anim-color: $c-main, $icon-rotate: 45deg);
		}
	}
}
.main-banner {
	color: $c-accent;
	background-color: $c-EC1C24;
	display: grid;
	grid-template-columns: 60% auto;
	gap: rem(40);
	padding: rem(96) rem(64);
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__subtitle {
		max-width: 30ch;
		font-size: rem(15);
		font-weight: $fw-m;
	}
	&__title {
		display: flex;
		align-items: flex-end;
		gap: rem(8);
		flex-wrap: wrap;
		font-size: rem(22);
		line-height: 1;
		font-weight: $fw-m;
		> span {
			white-space: nowrap;
			font-size: lineScale(105, 48, 480, 1440);
			line-height: 1;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(32);
	}
	&__desc {
		font-size: lineScale(22, 18, 480, 1440);
		line-height: 120%;
		opacity: 0.9;
	}
	&__button {
		@include button($hover-color: $c-EC1C24, $anim-color: $c-accent, $icon-rotate: 45deg);
	}
}
.main-carousel {
	&__title {
		@include h2();
	}
}
.main-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: $c-accent;
	background-color: $c-EC1C24;
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: rem(64);
		padding: rem(32);
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__title {
		font-size: lineScale(40, 32, 480, 1440);
		line-height: 1;
		font-weight: $fw-m;
	}
	&__subtitle {
		text-wrap: balance;
		font-size: rem(18);
		line-height: 120%;
	}
	&__input-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: rem(32);
	}
	&__inputbox {
		width: 100%;
		&:nth-child(3n + 1) {
			grid-column: 1 / span 1;
		}
		&:nth-child(3n + 2) {
			grid-column: 2 / span 1;
		}
		&:nth-child(3n + 3) {
			grid-column: 1 / span 2;
		}
	}
	&__controls {
		display: flex;
		flex-direction: column;
		gap: rem(32);
	}
	&__agreement {
		display: flex;
		flex-direction: column;
		gap: rem(12);
		.checkbox {
			display: flex;
			align-items: center;
			gap: rem(16);
			font-size: rem(15);
			font-weight: $fw-m;
			span {
				cursor: pointer;
				text-decoration: underline;
				@media (pointer: fine) {
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	&__button {
		border: rem(2) solid $c-accent;
		@include button($hover-color: $c-EC1C24, $anim-color: $c-accent, $icon-rotate: -45deg);
	}
	&__sider {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__image-container {
		width: 100%;
		height: 100%;
		transform: scaleX(-1);
		filter: brightness(90%);
	}
	&__footnote {
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: center;
		gap: rem(16);
		padding: rem(32);
		backdrop-filter: blur(10px) brightness(85%);
		mask-image: linear-gradient(to top, black 60%, transparent 100%);
		&-image-container {
			width: rem(48);
			height: rem(48);
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: rem(8);
			:not(:first-child) {
				font-size: rem(14);
				opacity: 0.8;
				color: $c-CDCDCD;
			}
			:first-child {
				text-transform: uppercase;
				font-weight: $fw-m;
			}
		}
	}
}
@media (max-width: 1024px) {
	.main-services {
		&__body {
			grid-template-columns: 1fr;
		}
		&__item {
			gap: rem(16);
		}
	}
	.main-banner {
		grid-template-columns: 1fr;
	}
	.main-form {
		grid-template-columns: 1fr;
		&__sider {
			display: none;
		}
	}
}
@media (max-width: 768px) {
	.content__container:has(.main-hero) {
		padding: 0;
	}
	.main-hero {
		position: relative;
		grid-template-columns: 1fr;
		&__anim-arrow {
			display: none;
		}
		&__cover {
			position: absolute;
			z-index: -1;
			pointer-events: none;
			&-titlebox {
				display: none;
			}
		}
		&__body {
			padding: {
				left: rem(16);
				right: rem(16);
			}
			backdrop-filter: blur(10px);
		}
		&__socials-item {
			color: $c-main;
		}
		&__button {
			font-weight: $fw-m;
			background-color: rgba($c-accent, 0.3);
		}
	}
	.main-promo {
		&__slide {
			&-image-container {
				display: none;
			}
		}
	}
	.main-banner {
		padding: rem(64) rem(32);
	}
	.main-form {
		&__input-group {
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width: 540px) {
	.content__container:has(.main-services) {
		padding: 0;
	}
	.main-services {
		&__sider {
			padding: rem(64) rem(16);
			> span:has(svg) {
				display: none;
			}
		}
		&__title,
		&__list {
			padding: 0 rem(16);
		}
	}
	.main-promo {
		&__slide-wrapper {
			padding: rem(32);
		}
	}
	.content__container:has(.main-banner) {
		padding: 0;
	}
	.main-banner {
		padding: rem(64) rem(16);
	}
	.content__container:has(.main-form) {
		padding: 0;
	}
	.main-form {
		padding: rem(64) rem(16);
		&__wrapper {
			padding: 0;
		}
	}
}
