/*
? Тут указываем все используемые в дизайне цвета (я предпочитаю в качестве имен использовать hex-коды, можете изменить на ваше усмотрение), для их быстрого вызова используем сниппет vc
? В переменной main укажите основной цвет шрифта, а в переменной accent - противоположный ему (белый или черный)
*/

$c-EC1C24: #ec1c24;
$c-FFAFAF: #ffafaf;
$c-FAFAFA: #fafafa;
$c-CDCDCD: #cdcdcd;
$c-A9A49F: #a9a49f;
$c-DED5C2: #DED5C2;
$c-CDCDCD: #CDCDCD;
$c-1E1E1E: #1E1E1E;
$c-323232: #323232;
$c-161414: #161414;
$c-FFFFFF: #ffffff;
$c-000000: #000000;

$c-1d201f: #1d201f;
$c-f7f9f7: #f7f9f7;
$c-45c95a: #45c95a;

$c-main: $c-161414;
$c-accent: $c-FAFAFA;

:root {
	--shapes-color: #{$c-EC1C24};
}