@use 'functions' as func;

//Переменные - настройки==========
$fontFamily: 'Gotham', sans-serif; // <----- Указываем имя шрифта
$fontSize: 1rem; // <----- Указываем размер шрифта
$minWidth: func.rem(375);
$maxWidthContainer: func.rem(1440); // <----- Указываем размер контейнера
$containerMargin: func.lineScale(32,16); // <----- Указываем отступ по краям контейнера
$md1: calc($maxWidthContainer + $containerMargin * 2 - func.rem(0.02));
$md2: func.rem(991.98);
$md3: func.rem(767.98);
$md4: func.rem(479.98);
$td: 0.6s; // <----- Стандартное значение для transition-duration на всем сайте
$tf: ease; // <----- Стандартное значение для transition-timing-function на всем сайте
$tf-spring: cubic-bezier(0.36, 1.5, 0.64, 1);

$fw-r: 400;
$fw-m: 500;
$fw-s: 600;
$fw-b: 700;
$fw-black: 900;

$border-radius: 2rem;
////Переменные - настройки==========

// Настройка бургера
$burgerWidth: func.rem(32); // <----- Ширина бургера
$burgerHeight: func.rem(8); // <----- Высота бургера
$burgerLineHeight: func.rem(2); // <----- Толщина линий бургера
$burgerLineCount: 2; // <----- 2 или 3 линии в бургере
//// Настройка бургера