@use 'abstracts' as *;

.banner {
	color: $c-accent;
	background-color: $c-EC1C24;
	display: grid;
	grid-template-columns: 60% auto;
	gap: rem(40);
	padding: rem(96) rem(64);
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__subtitle {
		max-width: 30ch;
		font-size: rem(15);
		font-weight: $fw-m;
	}
	&__title {
		display: flex;
		align-items: flex-end;
		gap: rem(8);
		flex-wrap: wrap;
		font-size: rem(22);
		line-height: 1;
		font-weight: $fw-m;
		> span {
			white-space: nowrap;
			font-size: lineScale(105, 48, 480, 1440);
			line-height: 1;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(32);
	}
	&__desc {
		font-size: lineScale(22, 18, 480, 1440);
		line-height: 120%;
		opacity: 0.9;
	}
	&__button {
		@include button($hover-color: $c-EC1C24, $anim-color: $c-accent, $icon-rotate: 45deg);
	}
}

@media (max-width: 1024px) {
	.banner {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 768px) {
	.banner {
		padding: rem(64) rem(32);
	}
}
@media (max-width: 540px) {
	.content__container:has(.banner) {
		padding: 0;
	}
	.banner {
		padding: rem(64) rem(16);
	}
}