@use 'abstracts' as *;

.footer {
	color: $c-accent;
	background-color: $c-main;
	&__body {
        display: grid;
        grid-template-areas: 'logo nav'
                             'links nav'
                             'copy nav';
        gap: rem(64) rem(32);
		padding: rem(32) 0;
	}
	&__logo {
        grid-area: logo;
        display: block;
        width: fit-content;
		&-container {
			width: rem(256);
			height: rem(48);
            @media (max-width: 768px){
                width: rem(48);
            }
		}
	}
    &__links {
        grid-area: links;
    }
    &__socials {
        display: flex;
        align-items: center;
        gap: rem(16);
    }
    &__connection {
        display: flex;
        align-items: center;
        gap: rem(32);
        > a {
            font-size: lineScale(22,18,480,1440);
            line-height: 120%;
            font-weight: $fw-m;
            @include hover-underline();
        }
    }
    &__copy {
        grid-area: copy;
        color: $c-323232;
    }
    &__nav {
        grid-area: nav;
        display: flex;
        height: 100%;
        &-group {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            gap: rem(16);
            padding: 0 rem(32);
            border-left: rem(2) solid $c-EC1C24;
            > a {
                display: block;
                width: fit-content;
                transition: color $td $tf;
                @media (pointer: fine){
                    &:hover{
                        color: $c-EC1C24;
                    }
                }
                &.current {
                    display: flex;
                    align-items: center;
                    gap: rem(8);
                    opacity: 0.5;
                    pointer-events: none;
                    &::before{
                        content:'';
                        width: rem(6);
                        height: rem(6);
                        background-color: $c-accent;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
	&__dev {
		padding: rem(24) 0;
		&-wrapper {
			width: fit-content;
			display: flex;
			align-items: center;
			gap: rem(16);
		}
		&-image-container {
			width: rem(100);
			height: rem(16);
		}
		&-text {
			color: #585a66;
			font-size: rem(12);
			font-weight: $fw-m;
		}
	}
}
