@use 'abstracts' as *;

.header {
	--header-height: #{rem(64)};
	--header-scroll-height: #{rem(64)};
	--header-bgcolor: #{$c-accent};

	&__scroll-fix {}

	&__container {
		&--noanim {}
	}

	&__row {
		transition: all $td $tf 0s;
	}
}