@use 'abstracts' as *;

.quote {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: rem(32);
	text-align: center;
	padding-top: lineScale(64,32,480,1440);
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: calc(50% - rem(2));
		translate: -100% 0;
		width: rem(16);
		height: rem(19);
		background-color: $c-EC1C24;
        clip-path: polygon(100% 0, 100% 70%, 30% 70%, 0 100%, 0 70%, 0 0);
	}
	&::after {
        left: auto;
		right: calc(50% - rem(2));
		translate: 100% 0;
	}
	> p {
		font-size: lineScale(40, 24, 480, 1440);
		line-height: 120%;
		max-width: 40ch;
	}
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(16);
		> picture {
			width: rem(96);
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
		}
		> ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: rem(8);
			color: $c-323232;
			font-size: rem(14);
			:first-child {
				font-size: rem(15);
				font-weight: $fw-m;
			}
		}
	}
}
