@use 'abstracts' as *;

.timeline {
	&__titlebox {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(32);
	}
	&__title {
		@include h2($max-width: 26ch);
	}
	&__tag {
		@include block-tag;
	}
	&__body {
		--item-gap: #{rem(128)};

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: rem(128);
		&-wrapper {
			position: relative;
			max-width: rem(800);
			display: flex;
			flex-direction: column;
			gap: rem(96);
		}
	}
	&__progressbar {
		position: absolute;
		top: 0;
		left: calc(var(--left-position) + var(--item-gap) / 2);
		translate: -100% 0;
		height: 100%;
		width: rem(3);
		background-color: rgba($c-A9A49F, 0.15);
		overflow: hidden;
		&-inner {
			width: 100%;
			height: var(--progress);
			background-color: $c-EC1C24;
		}
	}
	&__item {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: var(--item-gap);
		&-content {
			display: flex;
			flex-direction: column;
			gap: rem(32);
		}
		> time {
			font-size: lineScale(18, 16, 480, 1440);
			line-height: 1;
			font-weight: $fw-m;
			color: $c-EC1C24;
		}
		h3 {
			font-size: lineScale(25, 22, 480, 1440);
			line-height: 1;
			font-weight: $fw-m;
		}
		p {
			font-size: lineScale(18, 16, 480, 1440);
			line-height: 150%;
			color: $c-323232;
			opacity: 0.8;
		}
	}
}
@media (max-width: 540px) {
	.timeline {
		&__body {
			--item-gap: #{rem(64)};
		}
	}
}
