<footer class="footer">
	<div class="footer__container footer__container--noanim">
		<div class="footer__body">
			<a class="footer__logo" href="index.html">
				<picture class="footer__logo-container">
					<source srcset="img/content/logo/logo-icon.svg" media="(max-width: 768px)" />
					<img class="footer__logo" src="img/content/logo/logo-main.svg" alt="Paritet" />
				</picture>
			</a>
			<div class="footer__links">
				<div class="footer__socials">
					<a href="/">
						<svg class="socials-icon icon" width="32" height="32"><use href="img/sprite.svg#vk"></use></svg>
					</a>
					<a href="/">
						<svg class="socials-icon icon" width="32" height="32"><use href="img/sprite.svg#tg"></use></svg>
					</a>
				</div>
				<div class="footer__connection">
					<a href="tel:">+7&nbsp;964&nbsp;984-34-08</a>
					<a href="mailto:">hello@advparitet.ru</a>
				</div>
			</div>
			<p class="footer__copy">OOO «Паритет» &copy; 2025. Все&nbsp;права защищены</p>
			<nav class="footer__nav">
				<div class="footer__nav-group">
					<a class="@@if (typeof page !== 'undefined' && page === 'about') {current}" href="about.html">О&nbsp;компании</a>
					<a class="@@if (typeof page !== 'undefined' && page === 'news') {current}" href="news.html">Пресс-центр</a>
					<a class="@@if (typeof page !== 'undefined' && page === 'cases') {current}" href="cases.html">Дела из&nbsp;практики</a>
					<a class="@@if (typeof page !== 'undefined' && page === 'contact') {current}" href="contact.html">Контакты</a>
				</div>
				<div class="footer__nav-group">
					<a class="@@if (typeof page !== 'undefined' && page === 'main') {current}" href="index.html">Юридический отдел</a>
					<a class="@@if (typeof page !== 'undefined' && page === 'lawyers') {current}" href="lawyers.html">Адвокатский отдел</a>
					<a class="@@if (typeof page !== 'undefined' && page === 'accounting') {current}" href="accounting.html">Бухгалтерия и&nbsp;аудит</a>
				</div>
			</nav>
		</div>
		<div class="footer__dev">
			<a class="footer__dev-wrapper" href="https://intheplace.ru">
				<picture class="footer__dev-image-container">
					<img class="footer__dev-image" src="theplace.svg" alt="ThePlace" />
				</picture>
				<p class="footer__dev-text">—&nbsp;разработка и&nbsp;поддержка сайта</p>
			</a>
		</div>
	</div>
</footer>
