<!--------------------------------------- Боковое меню --------------------------------------->
<dialog id="hide-menu" class="hide-menu _hide-menu">
	<form class="hide-menu__close" method="dialog">
		<button>
			<svg class="hide-menu__close-icon icon" width="24" height="24"><use href="img/sprite.svg#cross"></use></svg>
		</button>
	</form>
	<div class="hide-menu__content _hide-menu-content">
		<nav class="hide-menu__list">
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'main') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="index.html">Паритет</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'about') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="about.html">О&nbsp;компании</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'lawyers') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="/">Адвокаты</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'accounting') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="/">Бухгалтерия</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'news') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="news.html">Пресс-центр</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'cases') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="cases.html">Дела</a>
			</div>
			<div class="hide-menu__link-wrapper @@if (typeof page !== 'undefined' && page === 'contact') {current} liquid-item">
				<div class="liquid-fill"></div>
				<a class="hide-menu__link" href="contact.html">Контакты</a>
			</div>
		</nav>
		<div class="hide-menu__info">
			<div class="hide-menu__socials">
				<a class="hide-menu__socials-item socials-icon" href="/">
					<svg class="icon" width="32" height="32"><use href="img/sprite.svg#vk"></use></svg>
				</a>
				<a class="hide-menu__socials-item socials-icon" href="/">
					<svg class="icon" width="32" height="32"><use href="img/sprite.svg#tg"></use></svg>
				</a>
			</div>
			<div class="hide-menu__links">
				<a href="tel:+79649843408">+7&nbsp;964&nbsp;984-34-08</a>
				<a href="mailto:hello@advparitet.ru">hello@advparitet.ru</a>
			</div>
			<p class="hide-menu__copy">OOO «Паритет» &copy; 2025. Все&nbsp;права защищены</p>
		</div>
	</div>
</dialog>

<!-------------------------------- Политика конфиденциальности -------------------------------->
<dialog id="privacy" class="privacy">
	<form class="privacy__close" method="dialog">
		<button>
			<svg class="privacy__close-icon icon" width="24" height="24"><use href="img/sprite.svg#cross"></use></svg>
		</button>
	</form>
	<div class="privacy__content">
		<h1>Политика <br> конфиденциальности</h1>
		<time datetime="2025-07-01">Последнее обновление: <span>01 июля 2025</span></time>
		<div class="privacy__body">
			<div>
				<h2>Презентация</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
			</div>

			<div>
				<h2>Сбор вашей информации</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
				</div>
			</div>

			<div>
				<h2>Использовать вашу информацию</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
			</div>

			<div>
				<h2>Раскрытие вашей информации</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
			</div>

			<div>
				<h2>Ваша информационная безопасность</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
			</div>

			<div>
				<h2>Политика в отношении детей</h2>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
				<div>
					<h3>Наши обязательства</h3>
					<p>В Инспекции имущества Канады мы обязуемся защищать вашу личную информацию и уважать вашу конфиденциальность. Настоящая Политика конфиденциальности объясняет, как мы собираем, используем, раскрываем и защищаем вашу информацию, когда вы используете наши услуги по проверке имущества.</p>
					<div>
						<h4>Обязательства пользователей</h4>
						<p>Мы можем собирать личную информацию, такую как ваше имя, адрес электронной почты, номер телефона, адрес собственности, а также другую соответствующую информацию, которую вы добровольно предоставляете нам при выборе использования наших услуг по проверке собственности.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>

<!----------------------------------------- Оповещения ----------------------------------------->
<div id="cookie" class="notify js_notify open" popover="manual">
	<button class="notify__close" popovertarget="cookie" popovertargetaction="hide">
		<svg class="notify__close-icon icon" width="15" height="15"><use href="img/sprite.svg#cross"></use></svg>
	</button>
	<div class="notify__content">
		<p class="notify__text">Мы&nbsp;сохраняем файлы 🍪 cookie для быстрой и&nbsp;удобной работы сайта. Используя сайт, вы&nbsp;принимаете <a class="link" href="">условия обработки персональных данных</a></p>
	</div>
</div>

<div id="custom-notify" class="notify js_notify" popover data-popover-time>
	<button class="notify__close" popovertarget="custom-notify" popovertargetaction="hide">
		<svg class="notify__close-icon icon" width="15" height="15"><use href="img/sprite.svg#close"></use></svg>
	</button>
	<div class="notify__content">
		<p class="notify__text js_notify-content"></p>
	</div>
</div>
